<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container mt-5">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/salvarpergunta" method="POST">
                    <label for="">Título</label>
                    <br>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br>
                    <label for="">Descrição</label>
                    <br>
                    <textarea cols="30" rows="10" placeholder="Descreva sua pergunta" class="form-control" name="descricao"></textarea>
                     <br>
                     <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
